<%- include('partials/header') %>
<main class="main-content index_container">
    <h1>Welcome to the Math Competition App</h1>
    <% if (streak > 0) { %>
        <p class="streak">Your current streak: <%= streak %></p>
    <% } %>
    <div class="navigation__container">
        <a href="/leaderboard" class="btn">View Leaderboard</a>
        <a href="/quiz" class="btn">Start Quiz</a>
    </div>
</main>