<!--Brad Ayers
QAP2
October 11-15, 2024 -->

<%- include('partials/header') %>
<main class="main-content quiz_container">
    <h1>Math Quiz</h1>
    <p class="streak">Current streak: <%= streak %></p>
    <p>Answer the question below:</p>
    <p class="question"><strong><%= question %></strong></p>

    <form action="/quiz" method="POST">
        <label for="answer">Your Answer:</label>
        <input type="text" id="answer" name="answer" required>
        <button type="submit" class="btn">Submit</button>
    </form>
</main>